<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AGrynco.Data.Converters" version="1.0.0.0" targetFramework="net45" />
  <package id="AGrynco.Utils.ObjUtils" version="0.4" targetFramework="net45" />
  <package id="Lib.Utils.AssemblyUtils" version="0.65" targetFramework="net45" />
  <package id="NUnit" version="3.0.0-beta-2" targetFramework="net45" userInstalled="true" />
</packages>